@using CarShop.Models.ServiceModels.Input
@using CarShop.Models.ServiceModels.Output
@model CarFormModel

<form method="post">
    <input type="hidden" name="id" value=@Model.Id>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" placeholder="Enter name">
        <span asp-validation-for="Name" style="color: red;"></span>  
    </div>
    <div class="form-group">
        <label asp-for="Make">Make</label>
        <input asp-for="Make" placeholder="Enter make">
        <span asp-validation-for="Make" style="color: red;"></span> 
    </div>
    <div class="form-group">
        <label asp-for="Model">Model</label>
        <input asp-for="Model" placeholder="Enter model">
        <span asp-validation-for="Model" style="color: red;"></span> 
    </div>
    <div class="form-group">
        <label asp-for="Year">Year</label>
        <input asp-for="Year">
        <span asp-validation-for="Year" style="color: red;"></span> 
    </div>
    <div class="form-group">
        <label asp-for="LicensePlate">License Plate</label>
        <input asp-for="LicensePlate" placeholder="Enter license plate">
        <span asp-validation-for="LicensePlate" style="color: red;"></span> 
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
